#about{
    background: white;
    z-index: 2;
    position: relative;
    .row{
        align-items: center;
    }
    .container{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            background: url(../images/bg/benefit-1.svg) no-repeat;
            background-size: contain;
            width: 225px;
            height: 230px;
            right: 130px;
            top: 46px;
        }
        &:after{
            content: '';
            position: absolute;
            background: url(../images/bg/point.svg) no-repeat;
            background-size: contain;
            width: 185px;
            right: 530px;
            height: 189px;
            bottom: -25px;
            z-index: 1;
        }
    }
    img{
        max-width: 250px;
        width: 100%;
    }
    .about-img-2{
        transform: translate(20px,165px);
    }
    .about-img-3{
        transform: translate(-50px,-36px);
    }
    .title{
        text-align: left;
        position: relative;
        margin-bottom: 10px;
        z-index: 3;
        &:before{
            content: '';
            position: absolute;
            left: -50px;
            top:-30px;
            background-color: #6EB6C1;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            z-index: -1;
        }
    }
   
    p{
        color: $black;
        position: relative;
        z-index: 20;
    }
    img{
        position: relative;
        z-index: 2;
    }
    
}


#about-top{
    overflow: hidden;
    .container{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            background: url(../images/a-bg.png) no-repeat;
            background-size: contain;
            width: 468px;
            height: 350px;
            left: -30px;
            top: 10px;
            z-index: 1;
        }
    }
    .row{
        align-items: center;
    }
    .col-lg-6{
        z-index: 2;
    }
    img:nth-child(2){
        transform: translate(40px,  110px);
    }
    .title{
        text-align: left;
        margin-bottom: 10px;
        span{
            color: $yellow;
        }
    }
}

#about-bottom{
    background: white;
    z-index: 2;
    position: relative;
    padding-top: 0;
    .row{
        align-items: center;
    }
    p{
        color: $black;
        position: relative;
        z-index: 3;
    }
    .about-title{
        font-family: $font1;
        font-weight: 700;
        font-size: 29px;
        margin-bottom: 15px;
    }
    .col-12{
        margin-top: 60px;
    }
    .col-lg-5{
        img{
            width: 100%;
            box-shadow: 0 4px 4px rgba(0,0,0,0.12);
            position: relative;
            z-index: 2;
        }
    }
    .col-lg-7:first-child{
        &:before{
            content: '';
            position: absolute;
            background: url(../images/bg/benefit-1.svg) no-repeat;
            background-size: contain;
            width: 185px;
            left: 0px;
            height: 189px;
            top: -111px;
            z-index: 1;
        }
    }
    .col-lg-5:nth-child(2){
        &:before{
            content: '';
            position: absolute;
            background: url(../images/bg/benefit-1.svg) no-repeat;
            background-size: contain;
            width: 185px;
            right: 0px;
            height: 189px;
            top: 30px;
            z-index: 1;
        }
    }
    .col-lg-5:nth-child(2) img{
        box-shadow: none;
        max-width: 430px;
    }
    .point-2{
        width: 100px;
        height: 100px;
        background: transparent;
        border: 10px solid #FD8977;
        position: absolute;
        right: 50px;
        border-radius: 50%;
        bottom: -45px;
        opacity: 0.5;
    }
    .point{
        width: 100px;
        height: 100px;
        background: transparent;
        background: #6EB6C1;
        opacity: 0.5;
        position: absolute;
        right: 0px;
        border-radius: 50%;
    }
    .col-lg-7:nth-child(5){
        &:before{
            content: '';
            position: absolute;
            background: url(../images/bg/point.svg) no-repeat;
            background-size: contain;
            width: 185px;
            left: 0px;
            height: 189px;
            top: -135px;
            z-index: 1;
        }
    }
}

