#benefit{
    overflow: hidden;
    background: white;
    z-index: 2;
    position: relative;
    .container{
        position: relative;
        padding-bottom: 110px;
        &:after{
            content: '';
            background: url(../images/bg/benefit-1.svg) no-repeat;
            position: absolute;
            bottom: 0;
            left: 70px;
            width: 225px;
            height: 230px;
            z-index: 1;
        }
        &:before{
            content: '';
            background: url(../images/bg/benefit-2.svg) no-repeat;
            position: absolute;
            top: 50px;
            right: 70px;
            width: 225px;
            height: 230px;
            z-index: 1;
        }
    }
    .row{
        position: relative;
        z-index: 3;
    }
    
    .title{
        margin-bottom: 5px;
    }
    .col-lg-3{
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    .subtitle{
        margin-bottom: 50px;
    }
    .card{
        border-radius: 10px;
        border: none;
        padding: 40px 35px;  
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 191px;
        transition: $transition;
        cursor: pointer;
        &:hover{
            transform: translateY(-10px);
        }
    }
    .card-icon{
        margin-right: 40px;
    }
    .card-title{
        color: #223344;
        font-size: 19px;
        font-family: $font1;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .card-subtitle{
        font-size: 14px;
        color: $grey;
    }
    .card-1{
        background: #FFF3CD;
    }
    .card-2{
        background: #FFEEE8;
    }
    .card-3{
        background: #F1FCEF;
    }
}