#breadcrumb{
    padding-top: 50px;
    padding-bottom: 0;
    position: relative;
    z-index: 2;
    ul{
        display: flex;
        list-style: none;
        margin-bottom: 0;
        li,a{
            font-family: $font1;
            font-weight: 700;
            font-size: 14px;
        }
        a{
            color: $grey;
            margin-right: 5px;
            &:hover{
                color: $yellow;
            }
        }
        .fa-slash{
            transform: rotate(81deg);
            font-size: 10px;
            font-weight: 900;
        }
    }
}