.button{
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(151, 151, 151, 0.25);
    border-radius: 50px;
    color: $black;
    border: 1px solid #fff;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    padding: 9px 35px;
    margin-top: 30px;
    &:hover{
        background: $yellow;
        border-color: $yellow;
        color: $black;
    }
}