#contact{
    padding-top: 30px;
    
    iframe{
        filter: grayscale(1);
        box-shadow: 0px 0px 10px rgba(123, 123, 123, 0.25);
        width: 100%;
        height: 100%;
    }
   
    .contact-box{
        box-shadow: 0px 0px 10px rgba(123, 123, 123, 0.25);
        padding: 40px 50px;
    }
    .contact-info{
        p, a{
            color: $black;
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 14px;
            display: block;
            
            i{
                color: $yellow;
                margin-right: 20px;
            }
        }
        a:hover{
            color: $yellow;
        }
        &>div{
            display: flex;
            align-items: center;
            a{
                margin-bottom: 0;
            }
            i{
                color: $yellow;
                margin-right: 20px;
                font-size: 20px;
            }
        }
    }
    .social-media{
        display: flex;
        margin-left: 35px;
        margin-top: 20px;
        i{
            color: $black !important;
            transition: $transition;
            font-size: 24px !important;
        }
        i:hover{
            color: $yellow !important;
        }
        a{
            margin-right: 20px;
        }
    }
    form{
        border-top: 1px solid #D0D0D0;
        margin-top: 35px;
        padding-top: 35px;
    }
    .title{
        text-align: center;
        margin-bottom: 20px;
    }
}