footer{
    padding-top: 80px;
    box-shadow: 0px -2px 7px rgba(181, 181, 181, 0.25);
    background: white;
    position: relative;
    z-index: 2;
    .logo img{
        width: 190px;
    }
    .row{
        padding-bottom: 40px;
    }
    .row>div:nth-child(3){
        transform: translateX(-35px);
    }
    ul{
        list-style: none;
    }
    li{
        margin-bottom: 4px;
    }
    .row{
        a, p{
            font-weight: 500;
            color: $black;
            font-size: 14px;
            &:hover{
                color: $yellow;
            }
        }
    }
   
    .row>div:last-child{
        a{
            display: block;
        }
    }
    .social-links{
        display: flex;
        margin-top: 25px;
        a{
            margin-right: 18px;
        }
        i{
            font-size: 21px;
            font-weight: 100;
        }
    }
    .footer-mail, p{
        margin-bottom: 13px;
    }
    .footer-phone{
        margin-bottom: 7px;
    }
    .copyright{
        display: flex;
        justify-content: space-between;
        p{
            font-size: 15px;
        }
        a{
            color: $black;
            font-weight: 500;
        }
        img{
            filter: invert(1);
            height: 15px;
        }
    }
}