#contact-home{
    background: white;
        overflow: hidden;
        position: relative;
        z-index: 2;
        .container{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                background: url(../images/bg/bg-1.svg) no-repeat;
                background-size: contain;
                width: 310px;
                left: 17px;
                height: 295px;
            }
            &:after{
                content: '';
                position: absolute;
                background: url(../images/bg/point.svg) no-repeat;
                background-size: contain;
                width: 185px;
                right: 0px;
                height: 189px;
                top: 40px;
                z-index: 1;
            }
        }
        
        
   
    .row{
        justify-content: space-between;
    }
    
    h3{
        font-weight: 700;
        text-align: center;
        margin-bottom: 35px;
    }
   
    .form-img-1{
        transform: translateY(55px);
        width: 248px;
        height: 186px;
        object-fit: cover;
    }
    .form-img-2{
        transform: translateY(75px);
        width: 260px;
        height: 195px;
       
    }
    .col-lg-3{
        overflow: hidden;
    }
    img{
        position: relative;
        z-index: 2;
    }
}

form.row{
    input{
        border: 1px solid #02215B;
        border-radius: 50px;
    }
    div{
        margin-bottom: 13px;
    }
    input{
        height: 45px;
        padding-left: 20px;
    }
    input:placeholder{
        color: $grey;
    }
    .button{
        color: $black;
        background: $yellow;
        border: 1px solid $yellow;
        width: 100%;
        border-radius: 50px;
        text-align: center;
        padding: 10px 0;
        margin-top:0;
        &:hover{
            border: 1px solid $black;
            background-color: transparent;
        }
    }
    div:last-child{
        margin-top: 6px;
    }
}