#gallery{
    .title-div{
        text-align: center;
        margin-bottom: 90px;
    }
    img{
        width: 100%;
        object-fit: cover;
    }
    .title{
        display: inline-block;
        position: relative;
        font-size: 45px;
        &:before{
            content: '';
            position: absolute;
            left: -35px;
            top:-25px;
            background-color: #6EB6C1;
            width: 71px;
            height:71px;
            border-radius: 50%;
            z-index: -1;
        }
        &:after{
            content: '';
            position: absolute;
            background: url(../images/bg/point.svg) no-repeat;
            background-size: contain;
            width: 185px;
            right: -120px;
            height: 189px;
            bottom: -90px;
            z-index: 1;
        }
    }
    .img-gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between ;
        .img-item{
            position: relative;
            .overlay{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                background: rgba(255,255,255,0.4);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                opacity: 0;
                visibility: hidden;
                transition: $transition;
                i{
                    font-weight: 400;
                    color: #FD8977;
                    font-size: 35px;
                }

            }
            .image-gallery{
                position: absolute !important;
                left: 0 !important;
                right: 0 !important;
                bottom: 0 !important;
                top: 0 !important;
                z-index: 100;
                display: inline-block;
                &:hover~.overlay{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .item-1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .item-2, .item-4{
            img{
                max-width: 811px;
            }
        }
        .item-3{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin: 15px 0;
            .item-box{
                text-align: center;
                &>.img-item{
                    display: inline-block;
                }
                .img-item:last-child{
                    margin-top: 17px;
                }
            }
        }
        .item-5{
            display: flex;
            flex-direction: column;
            margin-top: -244px;
            .img-item:last-child{
                margin-top: 17px;
            }
        }
    }
    .item-1{
        width: 38%;
        img{
            width: 100%;
        }
    }
    .item-2, .item-4{
        width: 62%;
        img{
            height: 508px;
            
            width: 100%;
        }
    }
    .img-1{
        max-width: 483px;
        height: 267px;
    }
    .img-2{
        max-width: 483px;
        height: 222px;
    }
    .img-3{
        max-width: 810px;
        height: 508px;
    }
    .img-4{
        max-width: 483px;
        height: 512px;
    }
    .img-5{
        max-width: 315px;
        height: 246px;
    }
    .img-6{
        max-width: 315px;
        height: 246px;
    }
    .img-7{
        max-width: 482px;
        height: 268px;
    }
    .img-8{
       max-width: 810px;
        height: 508px;
    }
    .img-9{
        max-width: 482px;
        height: 513px;
    }
    .img-10{
        max-width: 482px;
        height: 223px;
    }

    .item-3{
        img{
            width: 100%;
        }
        &>.img-item:first-child{
            width: 37%;
            img{
                width: 100%;
            }
        }
        .item-box{
            width: 23%;
        }
        &>.img-item:last-child{
            width: 37%;
            img{
                width: 100%;
            }
        }
    }

    .item-5{
        width: 37%;
        
    }
}


.fancybox-button--arrow_right{
    right: 10% !important;
    svg{
        display: none !important;
    }
    div{
        position: relative;
    }
    div:before {
        content: '';
        background: url(../images/next.svg);
        background-repeat: no-repeat;
        position: absolute;
        width: 15px;
        height: 25px;
        z-index: 101;
        left: 15px;
    }
    
} 
.fancybox-button--arrow_left{
    left: 10% !important;
    svg{
        display: none !important;
    }
    div{
        position: relative;
    }
    div:before {
        content: '';
        background: url(../images/prev.svg);
        background-repeat: no-repeat;
        position: absolute;
        width: 15px;
        height: 25px;
        z-index: 101;
        left: 15px;
    }
} 