header{
    background: #FFFFFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0px 2px 7px rgba(181, 181, 181, 0.25);
    z-index: 3;
    .menu-btn{
        display: none;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-menu{
        width: calc(100% - 290px);
        display: flex;
        justify-content: space-between;
    }
    .logo{
        img{
            width: 180px;
        }
    }
    nav{
        width: calc(100% - 160px);
    }
    .menu{
        display: flex;
        justify-content: space-around;
        list-style: none;
        &>li{
            padding: 40px 0;
        }
        .dropdown{
            position: relative;
            &:hover .submenu{
                opacity: 1;
                visibility: visible;
            }
        }
        a{
            font-weight: 600;
        }
    }
    ul{
        margin-bottom: 0;
        list-style: none;
        a{
            color: $black;
            font-size: 15px;
           
            &:hover{
                color: $yellow;
            }
        }
        .fa-angle-down{
            color: $black;
            font-weight: 400;
            transform: translateY(2px);
        }
    }
    .submenu{
        transition: $transition;
        background: #FFFFFF;
        box-shadow: 0px 2px 7px rgba(181, 181, 181, 0.25);
        border-radius: 10px;
        position: absolute;
        top: 80px;
        left: 50%;
        padding: 20px 0;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        a{
            white-space: nowrap;
            font-weight: 500;
        }
        li{
            padding: 0px 30px;
            &:not(:last-child){
                border-bottom: 1px solid rgba(0,0,0,0.02);
                margin-bottom: 5px;
                padding-bottom: 5px;
            }
        }
        
    }
    .lang{
        position: relative;
        &:hover ul{
            opacity: 1;
            visibility: visible;
        }
        ul{
            position: absolute;
            background: white;
            top: 80px;
            padding: 20px 0;
            box-shadow: 0px 2px 7px rgba(181, 181, 181, 0.25);
            border-radius: 10px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            transition: $transition;
            li{
                padding: 0 30px;
                &:not(:last-child){
                    margin-bottom: 2px;
                    padding-bottom: 2px;
                }
               
            }
            a{
                font-weight: 500;
                font-size: 17px;
            }
        }
        span{
            font-weight: 500;
            font-size: 17px;
            padding: 40px 0;
            display: inline-block;
            cursor: pointer;
            i{
                font-weight: 400;
            }
            
        }
    }
}