#home{
    .carousel-item{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .carousel-img{
        position: relative;
        min-width: 420px;
        min-height: 422px;
        max-height: 422px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            background: url(../images/bg/h-bg.png) no-repeat;
            background-size: contain;
            width: 350px;
            height: 315px;
            top: 55px;
            left: 45px;
            z-index: 1;
            opacity: 0;
            visibility: hidden;
            transition: $transition;
        }
        img{
            position: relative;
            z-index: 2;
            transition: $transition;
            transform: translateY(100px);
            opacity: 0;
            visibility: hidden;
        }
    }
    .home-title{
        font-family: $font1;
        font-weight: 700;
        font-size: 45px;
        transform: translateX(100px);
        transition: all 0.4s linear;
        opacity: 0;
        visibility: hidden;
    }
    .slide-content{
        max-width: 580px;
    }
    .home-yellow{
        color: $yellow;
    }
    .home-subtitle{
        font-size: 16px;
        font-weight: 500;
        transform: translateX(100px);
        transition: all 0.4s linear 0.25s;
        opacity: 0;
        visibility: hidden;
    }
    .home-button{
        margin-top: 40px;
        transition: all 0.4s linear 0.45s;
        transform: translateX(100px);
        opacity: 0;
        visibility: hidden;
    }
    .home-button a{
        background: #FFFFFF;
        box-shadow: 0px 0px 7px rgba(151, 151, 151, 0.25);
        border-radius: 50px;
        border: 1px solid white;
        color: #333333;
        padding: 10px 50px;
        font-weight: 500;
        &:hover{
            background: $yellow;
            border-color: $yellow;
            
        }
    }
    .carousel-indicators{
        left: inherit;
        top: 0;
        right: 0;
        flex-direction: column;
        margin: 0;
        li{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #6EB6C1;
            border: none;
            margin-bottom: 10px;
        }
        .active{
            background: #FD8977;
        }
    }

    .carousel .active{
        .carousel-img{
            &::before{
                opacity: 1;
                visibility: visible;
            }
            img{
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }
        .home-title, .home-subtitle{
            transform: translateX(0px);
            opacity: 1;
            visibility: visible;
        }
        .home-button{
            transform: translateX(0px);
            opacity: 1;
            visibility: visible;
        }
        
    }
}