@media only screen and (min-width:1440px){
    body{
        .container, .container-lg, .container-md, .container-sm, .container-xl{
            max-width: 1340px;
        }
    }   
}

@media only screen and (min-width: 1400px) and (max-width: 1500px){
    #about-top .col-lg-6:first-child img:first-child{
        transform: translateX(50px);
    }
}

@media only screen and (max-width:1440px){
    #benefit{
        .card-icon{
            margin-right: 20px;
        }
        .card{
            min-height: 185px;
            padding: 20px;
        }
    } 

    #gallery{
        .item-2, .item-4{
            width: 60%;
        }
        .item-3{
            img{
                width: 100%;
            }
            &>.img-item:first-child{
                width: 38%;
            }
            .item-box{
                width: 20%;
            }
            &>.img-item:last-child{
                width: 38%;
            }
        }
        .item-5{
            width: 38%;
        }
    
    }
}

@media only screen and (max-width:1200px){
    #product-bottom .category-name{
        padding: 20px;
    }

}

@media only screen and (min-width: 991px) and (max-width: 1200px){
    #home .home-title{
        font-size: 30px;
    }
    header .header-menu{
        width: calc(100% - 235px);
    }
    header nav {
        width: calc(100% - 60px);
    }
    .top-page .container{
        max-width: 830px;
    }
    #about-top img:nth-child(2){
        display: none;
    }
    #product-bottom .products{
        justify-content: start;
    }
    #product-bottom .card{
        margin-right: 10px;
        max-width: 215px;
    }
    #contact-home, #category, #benefit, #about, #partners{
        .container{
            max-width: 1140px;
        }
    }
    #about img{
        max-width: 200px;
    }
    #about .about-img-3{
        transform: translate(-10px, -35px);
    }
}

@media only screen and (max-width: 991px){
    #gallery{
        .item-1, .item-2, .item-3, .item-4, .item-5{
            width: 100%;
            margin-bottom: 30px;
            img{
                max-width: 100%;
            }
        }
        .item-3{
            flex-direction: column;
            .img-item, .item-box{
                width: 100% !important;
                margin-bottom: 30px;
            }
            .item-box>.img-item{
                margin-bottom: 0;
            }
            .item-box>.img-item:last-child{
                margin-top: 30px !important;
            }
        }
        .item-5{
            margin-top: 0px !important;
        }
        .item-1 .img-item:first-child{
            margin-bottom: 30px;
        }
        .img-gallery{
            flex-direction: column;
        }
    } 
    #home {

        padding-top: 85px;
        .carousel-indicators{
            bottom: initial !important;
            top: 33%;
            transform: translateY(-50%);
        }
        .container, .carousel-inner{
            height: 800px;
        }
        .carousel-img{
            max-height: 250px;
            min-height: 230px;
            img{
                max-height: 250px;
                min-height: 230px;
                max-width: 330px;
                width: 100%;
            }
           
            &::before{
                top: 3px;
                height: 220px;
            }
        }
        .carousel-item{
            flex-direction: column;
            justify-content: center;
            height: 100vh;
        }
        .home-title{
            font-size: 25px;
        }
    } 
    header{
        .menu-btn{
            border-radius: 20px;
            cursor: pointer;
            display: inline-block;
            height: 15px;
            position: relative;
            width: 29px;
            z-index: 100;
            display: block;
            &:before{
                content: "";
                background: $black;
                border-radius: 20px;
                height: 3px;
                position: absolute;
                transition: all .4s linear;
                width: inherit;
                transition: $transition;
            }
            &:after{
                content: "";
                transition: $transition;
                background: $black;
                border-radius: 20px;
                height: 3px;
                position: absolute;
                transition: all .4s linear;
                width: inherit;
                bottom: 0;
            }
        }
        .menu-btn.show:before{
            transform: rotate(45deg) translateY(10px);
        }
        .menu-btn.show:after{
            transform: rotate(135deg) translate(2px, 8px);
        }
        .menu-btn.show~.header-menu{
            right: 0;
            opacity: 1;
            visibility: visible;
        }
        .container{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .header-menu{
            position: fixed;
            height:calc(100vh - 75px);
            top: 75px;
            bottom: 0;
            max-width: 100%;
            width: 100%;
            flex-direction: column;
            background: white;
            overflow: auto;
            justify-content: start;
            opacity: 0;
            right: -100%;
            visibility: hidden;
            transition: $transition;
            &::-webkit-scrollbar {
                width: 0px;
            }
             &::-webkit-scrollbar-track {
                box-shadow: none;
                border-radius: 0px;
                background: transparent;
            }
            
             &::-webkit-scrollbar-thumb {
                background: transparent;
                border-radius: 0px;
            }
            
             &::-webkit-scrollbar-thumb:hover {
                background: transparent;
            }
        }
        .menu{
            flex-direction: column;
            li{
                padding: 9px 0;
            }
        }
        .submenu{
            background: transparent;
            box-shadow: none;
            -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
            height: 0;
            opacity: 1;
            padding-top: 0;
            position: static;
            transition: all .4s linear;
            visibility: visible;
            padding: 0;
            border-radius: 0;
            transform:none;
            li{
                border-bottom: none !important;
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
            }
        }
        .submenu.show {
            -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
            height: 433px;
        }
        ul .fa-angle-down {
            margin-left: 7px;
        }
        nav {
            margin: auto;
            margin-top: 20px;
            margin-bottom: 0;
            max-width: 720px;
            padding: 0 12px;
            width: 100%;
        }
        .lang{
            margin-top: 30px;
            span{
                display: none;
            }
            ul{
                transform: none;
                background: transparent;
                box-shadow: none;
                display: flex;
                opacity: 1;
                position: static;
                visibility: visible;
                justify-content: center;
            }
            .active{
                color: $yellow;
            }
        }
    }
    
    #contact-home .col-lg-3,#contact-home .container:after, #contact-home .container:before {
        display: none;
    }
    .card.category-card{
        max-width: 310px;
        margin: auto;
    }
    #benefit{
        padding: 0;
        .card{
            margin: auto;
            max-width: 400px;
            margin-bottom: 30px;
        }
    }
    #about{
        .container:before{
            display: none;
        }
        .col-lg-6:last-child{
            text-align: center;
        }
        .about-img-3{
            transform: translate(-140px, -35px);
        }
    }
    #product-bottom {
        padding-top: 40px;
        .category-name{
            max-width: 240px;
            margin: auto;
        }
        .col-lg-3{
            margin-bottom: 40px;
        }
        .card{
            max-width: 220px;
        }
    }
    #production{
        .production-title{
            font-size: 25px;
            margin-bottom: 10px;
        }
        .col-lg-6:first-child{
            margin-top: 10px;
        }
        .col-lg-6:nth-child(3){
            order: 4;
        }
    } 
    #about-top {
        .col-lg-6:first-child{
            text-align: center;
        }
        img:nth-child(2){
            transform: translate(40px, 0);
        }
    }
    #about-bottom {
        .col-lg-7:nth-child(5):before, .col-lg-7:first-child:before{
            display: none;
        }
        .col-12:nth-child(4){
            order: 3;
        }
        .col-12:nth-child(3){
            order: 4;
        }
        .col-12:nth-child(5){
            order: 5;
        }
        .col-12:nth-child(6){
            order: 6;
        }
        .about-title{
           font-size: 25px;
            margin-bottom: 10px;
        }
        
    }
    #xammal .title{
        z-index: 3;
    }
    #xammal .col-lg-3{
        margin-bottom: 30px;
    }
    .main-section:before, .main-section:after{
        display: none;
    }
    .main-section{
        border-radius: 0;
        margin-top: 100vh;
       
    }
    .top-page{
        height: 100vh;
    }
    #delivery-top{
        .row{
            flex-direction: column-reverse;
            justify-content: center;
        }
        .col-lg-5{
            text-align: center;
            margin-bottom: 30px;
        }
       
    }
    #delivery-bottom{
        padding-top: 70px;
        .col-lg-5{
            text-align: center;
            margin-bottom: 30px;
        }
        .col-lg-7:before{
            display: none;
        }
        .delivery-title{
            font-size: 25px;
            margin-bottom: 10px;
        }
    }
    #contact{
        .col-lg-6{
            min-height: 550px;
        
            &:first-child{
                margin-bottom: 30px;
                padding: 0;
            }
        }
    }
    footer{
        .logo{
            margin-bottom: 30px;
            display: inline-block;
        }
        .row > div:nth-child(3){
            transform: translateX(0px);
        }
    } 

}

@media only screen and (max-width: 767px){
   
}

@media only screen and (max-width: 575px){
    #gallery img{
        height: auto !important;
    }
    #about{
        .col-lg-6:last-child, .container:after{
            display: none;
        }
    }
    #product-bottom .products{
        justify-content: center;
        .card{
            margin-right: 0;
        }
    }
    #production .title:before{
        width: 60px;
        height: 60px;
        left: -35px;
    }
    #production{
        padding-bottom: 100px;
        .col-lg-6{
            margin-top: 50px;
        }
    } 
    #partners{
        border-radius: 0;
    }
    #about-top {
        img:nth-child(2){
            display: none;
        }
        .col-lg-6:first-child{
            margin-bottom: 40px;
        }
    }
    #xammal{
        .container:before{
           display: none;
        }
        .title{
            font-size: 30px;
            margin-bottom: 0;
            &::before{
                width: 60px;
                height: 60px;
            }
        }
        .row{
            margin-top: 30px;
        }
        .xammal-title{
            font-size: 25px;
        }
    }
    footer{
        ul{
            margin-bottom: 0;
        }
        .col-sm-6{
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(0,0,0,0.02);
        }
        .row{
            padding-bottom: 10px;
        }
        .copyright{
            flex-direction: column;
            padding-bottom: 10px;
        }
    }
    .title{
        font-size: 28px !important;
    }
    #contact{
        .col-lg-6{
            min-height: 350px;
            margin: 15px;
        }
        .contact-box{
            padding: 25px;
            p,a{
                font-size: 17px;
            }
        }
    }
}