#partners{
    background: white;
    padding-bottom: 0;
    position: relative;
    border-radius: 0 80px 0 0;
    z-index: 2;
   
    .mySwiper {
        position: relative;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 175px;
            height: 100%;
            background-image: url(../images/customer-left-pattern.png);
            z-index: 2;
        }
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 175px;
            height: 100%;
            background-image: url(../images/customer-right-pattern.png);
            z-index: 2;
        }
    }
}