#product-bottom{
    background-color: white;
    position: relative;
    z-index: 2;
    .category-name{
        background: #FFFFFF;
        box-shadow: 0px 0px 7px rgba(151, 151, 151, 0.25);
        border-radius: 10px;
        padding: 40px;
        position: sticky;
        top: 110px;
        h5{
            margin-bottom: 20px;
        }
        label{
            display: block;
            position: relative;
            margin-bottom: 13px;
        }
        .checkbox{
            background: #F6F5F0;
            border: 1px solid #FABC30;
            border-radius: 3px;
            width: 15px;
            height: 15px;
            display: inline-block;
            position: relative;
            &:before{
                content: "";
                position: absolute;
                opacity: 0;
                left: 3px;
                top: 1px;
                width: 7px;
                height: 9px;
                border: solid white;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        input{
            position: absolute;
            opacity: 0;
        }
        input:checked~.checkbox{
            background: #FABC30;
            &:before{
                opacity: 1;
            }
        }
        h5, label{
            font-family: $font2;
            color: $black;
            font-weight: 500;
        }
        h5{
            font-weight: 600;
        }
    }
    .title{
        text-align: left;
        margin-bottom: 10px;
    }
    .products{
        display: flex;
        flex-wrap: wrap;
        margin: 40px 0;
        // justify-content: space-between;
    }
    .card{
        border: none;
        border-radius: 10px;
        margin-bottom: 30px;
        transition: $transition;
        max-width: 230px;
        margin-right: 10px;
        // max-width: 215px;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 0px 10px rgba(123, 123, 123, 0.25);

           
        }
        &:hover img{
            transform: scale(1.18);
        }
        
    }
    .card-title{
        font-family: $font1;
        font-weight: 700;
        margin: 25px 0;
        padding-left: 20px;
    }
    .card-img{
        border-radius: 10px;
        overflow: hidden;
        img{
            max-width: 230px;
            max-height: 250px;
            width: 100%;
            object-fit: cover;
            transition: $transition;
        }
    }
}