#category{
    position: relative;
    overflow: hidden;
    padding-bottom: 15px;
    background: #fff;
    z-index: 2;
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 780px;
        background: #F6F5F0;
        z-index: 1;
    }
    .bg-2{
        position: absolute;
        top: 370px;
        left: 50%;
        transform: translateX(-50%);
        width: 1150px;
        height: 860px;
        background: url(../images/bg/product.png) no-repeat;
        z-index: 1;
    }
    .row{
        position: relative;
        z-index: 2;
    }
    .title{
        margin-bottom: 5px;
        position: relative;
        z-index: 2;
    }
    .col-lg-3{
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    .subtitle{
        margin-bottom: 50px;
        position: relative;
        z-index: 2;
    }
}

.card.category-card{
    border: 1px solid #505050;
    // box-shadow: 0px 0px 10px rgba(77, 79, 83, 0.25);
    transition: $transition;
  
    cursor: pointer;
    img{
        width: 100%;
        max-height: 235px;
        object-fit: cover;
    }
    .card-title{
        margin-bottom: 0;
        padding: 25px 0;
    }
    .card-img{
        border-top: 1px solid #505050;
        border-bottom: 1px solid #505050;
    }
    .card-title h3{
        font-weight: 700;
        font-size: 20px;
        font-family: $font1;
        color: $black;
        text-align: center;
        margin-bottom: 0;
    }
    .card-subtitle p{
        color: $black;
        font-weight: 400;
        font-size: 16px;
    }
    .card-subtitle{
        padding: 25px;
    }
    &:hover{
        transform: translateY(-10px);
        background: $yellow;
        border:none;
        & .card-img{
            border: none;
        }
    }
}
