@import 'variables';
@import 'reset';
@import 'mainSection';
@import 'button';
@import 'header';
@import 'breadcrumb';
@import 'home';
@import 'form';
@import 'about';
@import 'footer';
@import 'products';
@import 'partners';
@import 'production';
@import 'product';
@import 'benefit';
@import 'delivery';
@import 'contact';
@import 'gallery';
@import 'xammal';
@import 'media';